* {
  box-sizing: border-box;
}

body {
  width: 750px;
  height: 550px;
  background-color: #1a252d !important;
  border: 1px solid whitesmoke;
  color: whitesmoke !important;
}

.container {
  width: 100%;
  height: 100%;
}

.title-div {
  height: 88px;
}
